* {
  margin: 0px;
}
input {
  outline: none;
}
a {
  text-decoration: none;
}
.header {
  width: auto;
  height: 85px;
  background-color: #eeeeee;
}
.header .header-img img {
  width: 130px;
  margin-top: 25px;
  margin-left: 105px;
  cursor: pointer;
}
.header .form-box input {
  width: 355px;
  height: 40px;
  border-radius: 20px;
  padding: 0px 40px 0px 16px;
  background-color: #fff;
  position: absolute;
  top: 25px;
  left: 360px;
  border-bottom: 1px solid rgb(235, 235, 235);
  border-top: 1px solid rgb(235, 235, 235);
  border-left: 1px solid rgb(235, 235, 235);
  border-right: 1px solid rgb(235, 235, 235);
  box-shadow: 0px 0px 5px 0px rgb(216, 214, 214);
}
.header .form-box i {
  font-size: 20px;
  position: relative;
  left: 730px;
  top: -25px;
  color: #b4bbd1;
  font-style: normal;
  cursor: pointer;
}
.header .button3 button {
  position: relative;
  top: -130px;
  left: 1185px;
  width: 75px;
  height: 35px;
  color: #027eb0;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.header .button3 button:hover {
  color: #79bee0;
}
.header .button3 button:focus {
  color: #79bee0;
}
.header .button2 button {
  position: relative;
  top: -95px;
  left: 1095px;
  width: 75px;
  height: 35px;
  color: #027eb0;
  border: 1px solid #027eb0;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
.header .button2 button:hover {
  color: #79bee0;
  border: 1px solid #79bee0;
}
.header .button2 button:focus {
  color: #79bee0;
  border: 1px solid #79bee0;
}
.header .button1 button {
  width: 95px;
  height: 40px;
  background-color: #027eb0;
  border-radius: 5px;
  border: 1px solid white;
  color: #fff;
  cursor: pointer;
  position: relative;
  left: 975px;
  top: -58px;
}
.header .button1 i {
  position: relative;
  left: -5px;
  color: #fff;
}
.header .button1 button:hover {
  background-color: #79bee0;
}
